.header {
    height: 67px;
}


/**
 * chairmen
 */

.chairmanText {
    max-height: 553px;
    overflow: auto;
}

/**
 *group honor
 */

#slider {
    width: 1200px;
    height: 330px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
}

#slider ul {
    width: 6000px;
    position: absolute;
}

#slider ul li {
    width: 1200px;
    float: left;
}

#point {
    position: absolute;
    display: inline-block;
    float: left;
    top: 310px;
    left: 567px;
    font-size: 60px;
    z-index: 2;
}

#point span {
    float: left;
    height: 8px;
    width: 8px;
    border: 1px solid #44bcbc;
    border-radius: 5px;
    background: #ffffff;
    margin-left: 10px;
}

#point .on {
    background: #44bcbc;
}




/**
 * development history
 */

.Liz-line {
    margin-top: 15%;
    margin-bottom: 5%;
}

.lineList {
    font-size: 0;
}

.lineList li {
    display: inline-block;
    text-align: center;
    font-size: 16px;
    padding-bottom: 55px;
    margin-top: -30px;
}

.lineList li.active {
    font-size: 20px;
    color: #44bcbc;
}

.lineList li.active:before {
    display: inline-block;
    content: " ";
    height: 10px;
    width: 15px;
    position: absolute;
    top: -80px;
    margin-left: 7px;
    background: url("../images/page1/top-angle.png");
}

.lineList li.active:after {
    width: 205px;
    font-size: 12px;
    color: #000;
    position: absolute;
    top: -170px;
    display: inline-block;
}



.lineList li:nth-child(2).active:after {
    margin-left: -123px;
    content: "2008:卓尚服饰全年销售增加265%";
}
.lineList li:nth-child(3).active:after {
    margin-left: -123px;
    content: "2008:卓尚服饰全年销售增加265%";
}
.lineList li:nth-child(4).active:after {
    margin-left: -123px;
    content: "2008:卓尚服饰全年销售增加265%";
}
.lineList li:nth-child(5).active:after {
    margin-left: -123px;
    content: "2008:卓尚服饰全年销售增加265%";
}
.lineList li:nth-child(6).active:after {
    margin-left: -123px;
    content: "2008:卓尚服饰全年销售增加265%";
}
.lineList li:nth-child(7).active:after {
    margin-left: -123px;
    content: "2008:卓尚服饰全年销售增加265%";
}
.lineList li:nth-child(8).active:after {
    margin-left: -123px;
    content: "2008:卓尚服饰全年销售增加265%";
}
.lineList li:nth-child(9).active:after {
    margin-left: -123px;
    content: "2008:卓尚服饰全年销售增加265%";
}
.lineList li:nth-child(10).active:after {
    margin-left: -123px;
    content: "2008:卓尚服饰全年销售增加265%";
}



/**
 * group culture
 */

.groupcultureText {
    height: 614px;
    margin-left: -53px;
    padding-left: 71px;
    overflow: auto;
}


/* 滚动条整体部分width,height,background,border */

.Liz-scroll::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}


/* 滚动条两端的按钮。可以用display:none让其不显示 */

.Liz-scroll::-webkit-scrollbar-button {
    display: none;
}


/*   内层轨道，滚动条中间部分（除去） */

.Liz-scroll::-webkit-scrollbar-track-piece {
    background: #C0C0C0;
}


/*  滚动条里面可以拖动的那部分 */

.Liz-scroll::-webkit-scrollbar-thumb {
    background: #44bcbc;
    border-radius: 4px;
}
