.header {
    height: 270px;
    background-image:url('../images/page4/bg-header.png');
}
.logo1-box {
    background-size: cover;
    background: url("../images/page3/logo1-img.png");
    height: 650px;
    background-position: 50% 0%;
}

.logo2-box {
    background-size: cover;
    background: url("../images/page3/logo2-img.png");
    height: 330px;
    background-position: 50% 10%;
}

.logo3-box {
    background-size: cover;
    background: url("../images/page3/logo3-img.png");
    height: 287px;
    background-position: 50% 17%;
}

.logo4-box {
    background-size: cover;
    background: url("../images/page3/logo4-img.png");
    height: 426px;
    background-position: 50% 7%;
}

.logo5-box {
    background-size: cover;
    background: url("../images/page3/logo5-img.png");
    height: 829px;
    background-position: 50% 0%;
}

.bgBox {
    height: 270px;
    background: url('../images/page3/bg-header.png');
}

.logo1-box,
.logo2-box,
.logo3-box,
.logo4-box,
.logo5-box {
    position: relative;
    border: 1px solid #ffffff;
}

.logo1-box:after,.logo1-box:before,
.logo2-box:after,.logo2-box:before,
.logo3-box:after,.logo3-box:before,
.logo4-box:after,.logo4-box:before,
.logo5-box:after,.logo5-box:before{
    display: table;
    position: absolute;
    bottom: -5px;
    z-index: 99;
}

.logo1-box:after {
    content: url("../images/page3/logo1.png");
}

.logo2-box:after {
    content: url("../images/page3/logo2.png");
}

.logo3-box:after {
    content: url("../images/page3/logo3.png");
}

.logo4-box:after {
    content: url("../images/page3/logo4.png");
}

.logo5-box:after {
    content: url("../images/page3/logo5.png");
}


/*
.logo1-box:before {
    content: url("../images/page3/logo1.png");
}

.logo2-box:before {
    content: url("../images/page3/logo2.png");
}

.logo3-box:before {
    content: url("../images/page3/logo3.png");
}

.logo4-box:before {
    content: url("../images/page3/logo4.png");
}

.logo5-box:before {
    content: url("../images/page3/logo5.png");
}
*/















.logo1-box:hover.logo1-box:after {
    cursor: pointer;
    -webkit-animation: fadeIn 0.3s ease both;
    content: url("../images/page3/logo1.png");
}

.logo2-box:hover.logo2-box:after {
    cursor: pointer;
    -webkit-animation: fadeIn 0.3s ease both;
    content: url("../images/page3/logo1.png");
}

.logo3-box:hover.logo3-box:after {
    cursor: pointer;
    -webkit-animation: fadeIn 0.3s ease both;
    content: url("../images/page3/logo1.png");
}

.logo4-box:hover.logo4-box:after {
    cursor: pointer;
    -webkit-animation: fadeIn 0.3s ease both;
    content: url("../images/page3/logo1.png");
}

.logo5-box:hover.logo5-box:after {
    cursor: pointer;
    -webkit-animation: fadeIn 0.3s ease both;
    content: url("../images/page3/logo1.png");
}
